# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
dist-ssr
build
*.local

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
.nyc_output
*.lcov

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE
*.swp
*.swo
*~
.project
.classpath
*.sublime-workspace

# OS
Thumbs.db
.vscode-test
.cache
.parcel-cache
.next
out